<div class="reset-password-container">
    <div class="overlay"></div>
    <div class="reset-password-form">
        <h2>Set New Password</h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPasswordForm()">
            <div class="form-group">
                <label for="new-password"><i class="fas fa-lock"></i> New Password:</label>
                <input type="password" id="new-password" formControlName="newPassword" required>
                </div>
                <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
                    <small class="error-message" *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">Please enter your password.</small>
                    <small class="error-message" *ngIf="resetPasswordForm.get('newPassword')?.errors?.['pattern']">Password must contain at least 1 letter, 1 number, and be at least 8 characters long.</small>
                </div>
            
            <div class="form-group">
                <label for="confirm-password"><i class="fas fa-lock"></i> Confirm Password:</label>
                <input type="password" id="confirm-password" formControlName="confirmPassword" required>
                </div>
                <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">
                <small class="error-message" *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">Please confirm your password.</small>
                </div>
               
                <div *ngIf="resetPasswordForm.errors?.['passwordMismatch']">
                    <small class="error-message">Passwords must match</small>
                </div>
            
            <button type="submit">Reset Password</button>
        </form>
    </div>
</div>

