/* reset-password.component.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-password-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-password-form {
    position: relative;
    z-index: 2;
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin-top: 190px;
}

.reset-password-form h2 {
    text-align: center;
    color: #157fbe;
    margin-bottom: 10px;
}

.reset-password-form .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: dodgerblue;
    font-size: large;
}

.reset-password-form .form-group label {
    width: 150px;
    margin-bottom: 5px;
}

.reset-password-form input[type="password"] {
    width: calc(90% - 90px);
    margin-top: 5px;
    outline: none;
    background-color: transparent;
    border: none;
    border: 2px solid dodgerblue;
    flex: 1;
}

.reset-password-form button {
    padding: 10px 40px;
    background-color: #d4a930;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 60px;
    margin-top: 10px;
}

.reset-password-form button:hover {
    background-color: #fdba01;
}

.reset-password-form .error-message {
    color: red;
    font-size: x-small;
    margin-top: 3px;
    margin-left: 150px;
}

input:invalid {
    border-color: red;
    box-shadow: 0 0 3px red;
}