body {
  background-image: linear-gradient(-90deg, #1e7792, #a39f5d);
  display: flex;
  justify-content: center;
  height: 100vh;
}

#main {
  width: 90%; /* Adjust the width as needed */
  max-width: 800px; /* Set a maximum width to prevent the form from becoming too wide */
  margin: 50px; /* Center the form horizontally and provide some top margin */
}

#form-div {
  padding: 25px;
  background-color: #fff;
  height: auto; /* Remove fixed height to allow content to expand vertically */
}

h3 {
  text-align: center;
  font-family: Freestyle Script;
  color: #555;
  letter-spacing: 1px;
  font-size: 55px;
  margin-top: 0px;
}

button {
  width: 100%; /* Make the button width 100% to fill the container */
  color: white;
  background-color: rgb(16, 91, 202);
  border: none;
  margin: 5px 0; /* Add some vertical margin */
  padding: 8px;
}


.button-container {
  display: flex;
  gap: 10px; /* Adjust the gap between buttons as needed */
}


/* Adjust the width of the labels to a relative width */
label {
  width: 30%; /* Adjust as needed */
  color: black;
}

/* Adjust the width of the inputs */
input[type="text"],
input[type="number"],
input[type="date"],
select {
  width: 70%; /* Adjust as needed */
  padding: 5px;
  margin-bottom: 5px;
}

/* Hide the "No file chosen" text */
.form-group-file-input-group input[type="file"] {
  width: 70%; /* Adjust as needed */
  color: red;
  
}

.error-message{
  color: red;
  font-size: 0.8em; /* Adjust the font size to make the error messages smaller */
  margin-left: 100px;
  padding: 0  ;
}