<div class="calendar-container">
    <p-calendar [(ngModel)]="selectedDate" [inline]="true" [showButtonBar]="true" (onSelect)="onDateSelect($event)"></p-calendar>
  </div>
  
  <div *ngIf="selectedDate && showTableReservation">
    <h3 style="text-align: center; background-color:rgb(192, 178, 178); color: rgb(21, 21, 158);">
      Reservations for {{ selectedDate | date }}
    </h3>
    <!-- Display reservation details in a table -->
    <table>
      <thead>
        <tr>
          <th>Organization</th>
          <th>Type</th>
          <th>Quantity</th>
          <th>Time of Pickup</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through reservation data and display in rows -->
        <tr *ngFor="let reservation of reservations">
          <td>{{ reservation.organization_username }}</td>
          <td>
            <ul>
              <li *ngFor="let leftover of reservation.leftovers">
                {{ leftover.leftover_name }} ({{ leftover.leftover_type }}): {{ leftover.leftover_quantity }}
              </li>
            </ul>
          </td>
          <td>{{ getTotalQuantity(reservation.leftovers) }}</td>
          <td>{{ reservation.pickuptime }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Table for all reservations -->
  <div class="leftovers-table">
    <h3 style="text-align: center; background-color:rgb(192, 178, 178); color: rgb(21, 21, 158);">
      All Reservations
    </h3>
    <table>
      <thead>
        <tr>
          <th>Organization</th>
          <th>Type</th>
          <th>Quantity</th>
          <th>Date</th>
          <th>Time of Pickup</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through all reservations and display in rows -->
        <tr *ngFor="let reservation of tempReservations">
          <td>{{ reservation.organization_username }}</td>
          <td>
            <ul>
              <li *ngFor="let leftover of reservation.leftovers">
                {{ leftover.leftover_name }} ({{ leftover.leftover_type }}): {{ leftover.leftover_quantity }}
              </li>
            </ul>
          </td>
          <td>{{ getTotalQuantity(reservation.leftovers) }}</td>
          <td>{{ reservation.pickupdate | date }}</td>
          <td>{{ reservation.pickuptime }}</td>
        </tr>
      </tbody>
    </table>
  </div>